tf.plan
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
.env
# Created by https://www.gitignore.io/api/terraform

### Terraform ###
# Terraform - https://terraform.io/
.terraform
terraform.tfstate
terraform.tfstate.backup

# End of https://www.gitignore.io/api/terraform
